@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.0784%;
    --foreground: 220 41.1765% 10%;
    --card: 0 0% 96.4706%;
    --card-foreground: 220 41.1765% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 41.1765% 10%;
    --primary: 141.8182 70.2128% 36.8627%;
    --primary-foreground: 0 0% 96.4706%;
    --secondary: 0 0% 96.4706%;
    --secondary-foreground: 220.8000 49.0196% 10%;
    --muted: 128 39.8230% 77.8431%;
    --muted-foreground: 118.0645 16.0622% 37.8431%;
    --accent: 0 0% 92.9412%;
    --accent-foreground: 220.8000 49.0196% 10%;
    --destructive: 0 83.9357% 48.8235%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 115.8140 32.3308% 73.9216%;
    --ring: 141.8182 70.2128% 36.8627%;
    --chart-1: 141.8182 70.2128% 36.8627%;
    --chart-2: 141.7500 76.9231% 59.2157%;
    --chart-3: 141.6867 69.1667% 47.0588%;
    --chart-4: 142.1053 76.0000% 29.4118%;
    --chart-5: 142.0690 71.9008% 23.7255%;
    --sidebar: 134.4000 23.3645% 79.0196%;
    --sidebar-foreground: 131.6129 16.0622% 37.8431%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 220.8000 49.0196% 10%;
    --sidebar-accent: 141.8182 70.2128% 36.8627%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 129.6000 23.3645% 79.0196%;
    --sidebar-ring: 141.8182 70.2128% 36.8627%;
    --font-sans: Asta Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Inter;
    --font-mono: monospace;
    --radius: 1.55rem;
    --shadow-2xs: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.34);
    --shadow-xs: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.34);
    --shadow-sm: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 1px 2px -15.5px hsl(0 0% 0% / 0.67);
    --shadow: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 1px 2px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-md: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 2px 4px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-lg: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 4px 6px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-xl: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 8px 10px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-2xl: 0px 4px 20px -14.5px hsl(0 0% 0% / 1.68);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: 17.1429 13.7255% 10%;
    --foreground: 0 0% 94.9020%;
    --card: 240 5.8824% 10%;
    --card-foreground: 0 0% 94.9020%;
    --popover: 240 5.8824% 10%;
    --popover-foreground: 0 0% 94.9020%;
    --primary: 141.8182 70.2128% 36.8627%;
    --primary-foreground: 17.1429 13.7255% 10%;
    --secondary: 240 3.0303% 12.9412%;
    --secondary-foreground: 0 0% 94.9020%;
    --muted: 240 3.0303% 12.9412%;
    --muted-foreground: 240 4.9587% 52.5490%;
    --accent: 240 3.0303% 12.9412%;
    --accent-foreground: 0 0% 94.9020%;
    --destructive: 0 83.9357% 48.8235%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3.0303% 12.9412%;
    --input: 240 3.0303% 12.9412%;
    --ring: 141.8182 70.2128% 36.8627%;
    --chart-1: 141.8182 70.2128% 36.8627%;
    --chart-2: 141.7500 76.9231% 59.2157%;
    --chart-3: 141.6867 69.1667% 47.0588%;
    --chart-4: 142.1053 76.0000% 29.4118%;
    --chart-5: 142.0690 71.9008% 23.7255%;
    --sidebar: 17.1429 13.7255% 10%;
    --sidebar-foreground: 240 4.9587% 52.5490%;
    --sidebar-primary: 240 5.8824% 10%;
    --sidebar-primary-foreground: 0 0% 94.9020%;
    --sidebar-accent: 141.8182 70.2128% 36.8627%;
    --sidebar-accent-foreground: 17.1429 13.7255% 10%;
    --sidebar-border: 17.1429 13.7255% 10%;
    --sidebar-ring: 141.8182 70.2128% 36.8627%;
    --font-sans: Asta Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Inter;
    --font-mono: monospace;
    --radius: 1.55rem;
    --shadow-2xs: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.34);
    --shadow-xs: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.34);
    --shadow-sm: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 1px 2px -15.5px hsl(0 0% 0% / 0.67);
    --shadow: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 1px 2px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-md: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 2px 4px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-lg: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 4px 6px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-xl: 0px 4px 20px -14.5px hsl(0 0% 0% / 0.67), 0px 8px 10px -15.5px hsl(0 0% 0% / 0.67);
    --shadow-2xl: 0px 4px 20px -14.5px hsl(0 0% 0% / 1.68);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* hide the scroll bar */
html,body{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
